---
layout: layout.njk
---
{% block css %}
    <link rel="stylesheet" href="single-post.css">
{% endblock %}

    <section class="flex items-center justify-center p-10 text-black bg-white sm:py-16 md:py-24 lg:py-16">
       <div class="relative max-w-3xl px-10 text-center text-white auto lg:px-0">
        <div class="flex justify-start text-black font-semibold px-10"><a href="/">< Back</a></div>
            <div class="title p-10">
                <h1 class="text-black font-semibold text-3xl">{{ title }}</h1>
            </div>
            <div class="metainfo flex justify-center text-xs text-gray-500">
            {% for tag in tags%}
                <p class="py-1 px-2 m-2 text-white font-semibold rounded {{tag | tagsColor}}">{{tag}}</p>
            {% endfor %}
            <p class="p-1 m-2"> {{ date | asPostDate}} </p>
            </div>
          <div id="single-post" class="timeline text-left text-black py-5">
            {% set hasImage = intro.image | hasData %}
            {% if hasImage %}
            <div class="preview flex relative justify-center ">
                <img class="p-10 max-w-md h-auto" src="{{ intro.image }}" alt="{{ intro.imageAlt }}">
            </div>
            {% endif %}

            <div class="content px-10">
            {{ content | safe }}
            </div>
          </div>
       </div>
    </section>
