
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.updates.e-statement.in" />
    <meta property="og:image" content="https://updates.e-statement.in/{{ intro.image }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@estatement_in">
    <meta name="twitter:creator" content="@_muh_faris">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://updates.e-statement.in/{{ intro.image }}">
